.login-wrapper {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.logo {
  width: 10vh;
  margin: 0 auto;
}

.titulo {
  margin: 20px 0 0 0;
}

.teste {
  border: 1px solid red;
}
