<app-login-wrapper msg="Faça seu cadastro">
  <form>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
    <div class="buttons">
      <ion-button expand="block" color="primary" type="submit"
        >Registrar</ion-button
      >
      <ion-button routerLink="/login" expand="block" color="secondary"
        >Voltar</ion-button
      >
    </div>
  </form>
</app-login-wrapper>
